<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,118}</string>
                <key>spriteSourceSize</key>
                <string>{62,118}</string>
                <key>textureRect</key>
                <string>{{223,0},{62,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,118}</string>
                <key>spriteSourceSize</key>
                <string>{58,118}</string>
                <key>textureRect</key>
                <string>{{165,0},{58,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,118}</string>
                <key>spriteSourceSize</key>
                <string>{60,118}</string>
                <key>textureRect</key>
                <string>{{45,0},{60,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,118}</string>
                <key>spriteSourceSize</key>
                <string>{60,118}</string>
                <key>textureRect</key>
                <string>{{105,0},{60,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,118}</string>
                <key>spriteSourceSize</key>
                <string>{45,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,153}</string>
                <key>spriteSourceSize</key>
                <string>{67,153}</string>
                <key>textureRect</key>
                <string>{{137,153},{67,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,153}</string>
                <key>spriteSourceSize</key>
                <string>{79,153}</string>
                <key>textureRect</key>
                <string>{{58,153},{79,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,153}</string>
                <key>spriteSourceSize</key>
                <string>{83,153}</string>
                <key>textureRect</key>
                <string>{{360,0},{83,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,153}</string>
                <key>spriteSourceSize</key>
                <string>{58,153}</string>
                <key>textureRect</key>
                <string>{{0,153},{58,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,153}</string>
                <key>spriteSourceSize</key>
                <string>{75,153}</string>
                <key>textureRect</key>
                <string>{{285,0},{75,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,188}</string>
                <key>spriteSourceSize</key>
                <string>{76,188}</string>
                <key>textureRect</key>
                <string>{{80,341},{76,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,188}</string>
                <key>spriteSourceSize</key>
                <string>{80,188}</string>
                <key>textureRect</key>
                <string>{{0,341},{80,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,188}</string>
                <key>spriteSourceSize</key>
                <string>{71,188}</string>
                <key>textureRect</key>
                <string>{{346,153},{71,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,188}</string>
                <key>spriteSourceSize</key>
                <string>{71,188}</string>
                <key>textureRect</key>
                <string>{{275,153},{71,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,188}</string>
                <key>spriteSourceSize</key>
                <string>{71,188}</string>
                <key>textureRect</key>
                <string>{{204,153},{71,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,223}</string>
                <key>spriteSourceSize</key>
                <string>{85,223}</string>
                <key>textureRect</key>
                <string>{{326,341},{85,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,223}</string>
                <key>spriteSourceSize</key>
                <string>{130,223}</string>
                <key>textureRect</key>
                <string>{{85,564},{130,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,223}</string>
                <key>spriteSourceSize</key>
                <string>{85,223}</string>
                <key>textureRect</key>
                <string>{{0,564},{85,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,223}</string>
                <key>spriteSourceSize</key>
                <string>{85,223}</string>
                <key>textureRect</key>
                <string>{{241,341},{85,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,223}</string>
                <key>spriteSourceSize</key>
                <string>{85,223}</string>
                <key>textureRect</key>
                <string>{{156,341},{85,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,258}</string>
                <key>spriteSourceSize</key>
                <string>{95,258}</string>
                <key>textureRect</key>
                <string>{{199,822},{95,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,258}</string>
                <key>spriteSourceSize</key>
                <string>{95,258}</string>
                <key>textureRect</key>
                <string>{{104,822},{95,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,258}</string>
                <key>spriteSourceSize</key>
                <string>{138,258}</string>
                <key>textureRect</key>
                <string>{{310,564},{138,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,258}</string>
                <key>spriteSourceSize</key>
                <string>{95,258}</string>
                <key>textureRect</key>
                <string>{{215,564},{95,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,258}</string>
                <key>spriteSourceSize</key>
                <string>{104,258}</string>
                <key>textureRect</key>
                <string>{{0,822},{104,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,293}</string>
                <key>spriteSourceSize</key>
                <string>{126,293}</string>
                <key>textureRect</key>
                <string>{{230,1115},{126,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,293}</string>
                <key>spriteSourceSize</key>
                <string>{112,293}</string>
                <key>textureRect</key>
                <string>{{356,1115},{112,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,293}</string>
                <key>spriteSourceSize</key>
                <string>{110,293}</string>
                <key>textureRect</key>
                <string>{{120,1115},{110,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,293}</string>
                <key>spriteSourceSize</key>
                <string>{139,293}</string>
                <key>textureRect</key>
                <string>{{294,822},{139,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,293}</string>
                <key>spriteSourceSize</key>
                <string>{120,293}</string>
                <key>textureRect</key>
                <string>{{0,1115},{120,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weaponAllSp.png</string>
            <key>size</key>
            <string>{468,1408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539a70f6ceccc9e498149f4bcb28d377:4132933fd268524ced2ad7a0f491eccb:79eea97de4d28b6f67b909b247fa73cd$</string>
            <key>textureFileName</key>
            <string>weaponAllSp.png</string>
        </dict>
    </dict>
</plist>
