<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,52}</string>
                <key>spriteSourceSize</key>
                <string>{65,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,65}</string>
                <key>textureRect</key>
                <string>{{65,0},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,65}</string>
                <key>textureRect</key>
                <string>{{140,0},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{290,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{215,0},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{365,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{200,75},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{392,75},{92,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{300,75},{92,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{100,75},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{0,75},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,115}</string>
                <key>spriteSourceSize</key>
                <string>{125,115}</string>
                <key>textureRect</key>
                <string>{{0,175},{125,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{0,300},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,125}</string>
                <key>spriteSourceSize</key>
                <string>{118,125}</string>
                <key>textureRect</key>
                <string>{{365,175},{118,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{125,175},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{250,175},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,138}</string>
                <key>textureRect</key>
                <string>{{120,300},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,150}</string>
                <key>spriteSourceSize</key>
                <string>{140,150}</string>
                <key>textureRect</key>
                <string>{{150,440},{140,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{0,440},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{270,300},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,150}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{290,440},{145,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,150}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{0,590},{175,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{175,750},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,160}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{175,590},{175,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,175}</string>
                <key>spriteSourceSize</key>
                <string>{172,175}</string>
                <key>textureRect</key>
                <string>{{0,924},{172,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,161}</string>
                <key>spriteSourceSize</key>
                <string>{175,161}</string>
                <key>textureRect</key>
                <string>{{0,750},{175,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{172,924},{200,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,200}</string>
                <key>spriteSourceSize</key>
                <string>{192,200}</string>
                <key>textureRect</key>
                <string>{{200,1102},{192,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{200,1302},{190,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{0,1102},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,1302},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roleAllSp.png</string>
            <key>size</key>
            <string>{484,1502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e8f8d65c1420a5ec3ad5a75022afcf4:1fbadc8768a8f93d4e37eed8fccfcd03:cdd02257b77a1ea841b731c36429f5ba$</string>
            <key>textureFileName</key>
            <string>roleAllSp.png</string>
        </dict>
    </dict>
</plist>
